@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;;
  background: linear-gradient(to bottom, #533872, #3a2778), #58488a;
  background-attachment: fixed;
  background-color: #58488a;
}

button {
	cursor: pointer;
}
